body {
  --color-primary: #ffaf00;
  --color-primary-dark: #eca200;
  --color-secondary: #646464;
  --color-error: #cc3333;
  --color-success: #4bb544;
  --color-button: #ffffff;
  --color-hover: #000000;

  margin: 0;
  padding: 0;
}

header {
  padding: 5px 2%;
  background-color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.logo {
  cursor: pointer;
  height: 35px;
}

.container {
  background: rgb(255, 255, 255);
  background-size: cover;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  padding-bottom: 5%;
}

.container .welcome {
  text-align: center;
  padding-top: 10px;
  margin-top: 20px;
  font: 500 1rem "Quicksand", sans-serif;
}

.dropdowns {
  display: flex;
  flex-direction: row;
}

.container .table__container {
  display: flex;
  justify-content: center;
}

.table__button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.btn {
  width: 45.5%;
  padding: 1rem 2rem;
  font-weight: bold;
  font-size: 1.1rem;
  color: var(--color-button);
  border: none;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  background: var(--color-primary);
}

.btn:hover {
  background: var(--color-hover);
  color: var(--color-button);
  transition: 0.5s;
}

.btn:active {
  transform: scale(0.98);
}

table {
  font: 500 1rem "Quicksand", sans-serif;
  background-color: rgb(255, 255, 255);
  border-collapse: collapse;
  width: 50%;
}

th {
  padding: 20px;
  border-collapse: collapse;
  width: 50%;
  padding-bottom: 5%;
}

td {
  padding: 0;
  border-collapse: collapse;
  width: 50%;
  padding-bottom: 5%;
}

/* Dropdown Styling */

select {
  background-color: var(--color-primary);
  background-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20256%20448%22%20enable-background%3D%22new%200%200%20256%20448%22%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E.arrow%7Bfill%3A%23ffcc00%3B%7D%3C%2Fstyle%3E%3Cpath%20class%3D%22arrow%22%20d%3D%22M255.9%20168c0-4.2-1.6-7.9-4.8-11.2-3.2-3.2-6.9-4.8-11.2-4.8H16c-4.2%200-7.9%201.6-11.2%204.8S0%20163.8%200%20168c0%204.4%201.6%208.2%204.8%2011.4l112%20112c3.1%203.1%206.8%204.6%2011.2%204.6%204.4%200%208.2-1.5%2011.4-4.6l112-112c3-3.2%204.5-7%204.5-11.4z%22%2F%3E%3C%2Fsvg%3E%0A);
  background-position: right 10px center;
  background-repeat: no-repeat;
  background-size: auto 50%;
  border-radius: 2px;
  border: none;
  color: #ffffff;
  padding: 10px 30px 10px 10px;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  width: 80%;
  /* display: flex; */
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
select::-ms-expand {
  display: none;
}
@-moz-document url-prefix() {
  select {
    color: rgba(0, 0, 0, 0);
    text-shadow: 0 0 0 #ffffff;
  }
}
